header {

  position: fixed;
  background-color: white;
  z-index: 20;
  padding-top: 20px;

}
header h1{
  margin-top: 0px !important;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

header nav {
  float: right !important;
  overflow: hidden;

  margin-right: 60px; !important;
  padding-left: 0px;
  margin-left: 0px !important;
}

.logo{
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  margin-top: 8px !important;
}


h1 img {
  width:30px;
  height:30px;
  margin-right: 10px;

}

.header_class li {
  display: inline;
  text-decoration: none;
  float: right;
  overflow: hidden;
  margin:15px;
}

.header_class a {
  text-decoration: none;
  font-family: 'Open Sans',arial, sans-serif;
  font-style: normal;
  color:rgb(105,111,104);
  font-size: 20px;
  text-align: right;
}
.header_class a:hover {
  text-decoration: underline;
  font-family: 'Open Sans',arial, sans-serif;
  font-style: normal;
  color:black;
  font-size:22px;
}

.logo {
  float:left;
  overflow:hidden;
  font-family: 'Open Sans',arial, sans-serif;
}
.hero_unit {
  margin-top: 100px;
  position:relative;
  margin-bottom: 20px;


}
.hero_unit h3,.hero_unit p {
  text-align: center;
  font-family: 'Open Sans',arial, sans-serif;
  font-style: normal;
font-variant: normal;
font-weight: 600;
}
.hero_unit h3 {
  font-size: 45px;
  font-style: normal;
  color: #ef3939;
}

.hero_unit img {
  margin-top: 20px;

}

.hero_unit p {
  color:rgb(105,111,104);
  font-size: 20px;
}
.pageLinks_social {

}

.pagelinks{
  float: left;
  overflow: hidden;

}

.feature_set {
  float: left;
  overflow: hidden;
  margin-top: 50px;

}

.feature_set img {
  height: 58px;
}

.feature_title {
  margin-top: 10px;
  font-family: 'Open Sans',arial, sans-serif;
  font-size: 20px;
  color:rgb(102,102,102);
  margin-bottom: 4px !important;
  text-decoration: underline;
}

.feature_desc {
  font-family: 'Open Sans',arial, sans-serif;
  font-size: 14px;
  color:rgb(102,102,102);
}



.pageLinks_social {
  margin-top: 10px;
  background-color:rgb(245,245,245) !important;
}

.pagelinks {
  margin-top: 10px;

}
.pagelinks li {
  margin-left: 0px !important;
  text-decoration: none;
  list-style: none;

}

.pagelinks p{
  font-family: 'Open Sans',arial, sans-serif;
  font-size: 14px;
  margin-bottom: 5px !important;
  color:rgb(102,102,102);
  font-style: oblique;
}

.pagelinks a{
  font-family: 'Open Sans',arial, sans-serif;
  text-decoration:underline;
  color: rgb(102,102,102);
}

.pagelinks a:hover {
  color:black;
}
.social {
  float: right;
  overflow: hidden;

  margin-top: 9px;
}

.social img {
  width:150px;
  height:90px;
  float: right;
  overflow: hidden;
}

.social p {
  text-align: right;
  color: rgb(102,102,102);
  font-size: 18px;
  font-family: 'Open Sans',arial, sans-serif;
}

.copyright img {
  width:30px;
  height:30px;
  padding: none;
}

.copyright {
  float: left;
  overflow: hidden;
  font-family: 'Open Sans',arial, sans-serif;
  color: rgb(102,102,102);

}
.copyright a{
  font-family: 'Open Sans',arial, sans-serif;
  text-decoration:underline;
  color: rgb(102,102,102);
}

.copyright a:hover {
  color:black;

}
